<div class="tabla">
    <div class="tabla__header">
        <div>Header</div>
        <div>Header</div>
        <div>Header</div>
        <div>Header</div>
        <div>Header</div>
        <div>Header</div>
    </div>
    <div>
        <div class="tabla__row">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>
        <div class="tabla__row">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>
        <div class="tabla__row">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>
        <div class="tabla__row">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
        </div>
    </div>
</div>