.categorias {
    width: 50%;
    height: 35px;
    position: relative;

    label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: transform .4s ease-in;
        font-size: 12px;
        line-height: 14px;
        transform: translateY(0);
        opacity: 0;
    }

    select {
        width: 100%;
        height: 35px;
        position: inherit;
        z-index: 1;
    }

    select:focus + label {
        opacity: 1;
        transform: translateY(-15.75px);
    }
}